!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name:"viewport"}/
    %title Contact Marketing
    %link{rel: "stylesheet", href:"assets/css/bootstrap.min.css"}/
    %link{rel: "stylesheet", href:"assets/css/main.css"}/
    %link{rel: "stylesheet", href:"assets/css/slick.css"}/
    %link{rel: "stylesheet", href:"assets/css/slick-theme.css"}/
    %link{rel: "stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"}/
    %link{rel: "stylesheet", href:"assets/fonts/flaticon.css"}/
  %body
    %header#home
      %nav.navbar.navbar-expand-lg.fixed-top.navbar-fixed-js
        .container
          .main-brand
            %a.navbar-brand{:href => "#"}
              %img#iso{:src => "assets/img/Logo_wxhite.png"}/
            %button.navbar-toggler.p-2.border-0.hamburger.hamburger--elastic.ml-autos{"data-toggle" => "offcanvas", :type => "button"}
              %span.hamburger-box
                %span.hamburger-inner
          .navbar-collapse.offcanvas-collapse
            %ul.navbar-nav.mr-autos
              %li.nav-item
                %a.nav-link.active{:href => "#"} Inicio
              %li.nav-item
                %a.nav-link{:href => "#"} Servicios
              %li.nav-item
                %a.nav-link{:href => "#"} Conocenos
              %li.nav-item
                %a.nav-link{:href => "#"} Equipo
              %li.nav-item
                %a.nav-link{:href => "#"} Blog
              %li.nav-item
                %a.nav-link{:href => "#"} Contáctanos
    .main-banner
      .main-banner__content
        .main-banner__items
          .main-banner__item
            .main-banner__text
              .main-banner__title
                %p Potencia tu negocio con Marketing digital
              .main-banner__btn.btn-box
                %a.btn_custom.btn--large.btn--filled{ :href=>""}
                  Contáctanos
            .main-banner__boximg
              .main-banner__img
                %img{ :src => "assets/img/banner-ilustreichosvg.svg"}/
              .main-banner__img--two
                %img{ :src => "assets/img/Rectángulo 1 copia 7.png"}/
        
    %section.main-services
      .container
        .main-general__title
          %p Servicios
        .main-services__content
          .main-services__item
            .main-services__box
              .main-services__title
                %p Redes Sociales
              .main-services__img
                %span.flaticon-like
            .main-services__description
              %p Creación de contenido, manejo y diseño de piezas para redes sociales.
          .main-services__item
            .main-services__box
              .main-services__title
                %p Medios Digitales
              .main-services__img
                %span.flaticon-ecommerce
            .main-services__description
              %p Inversión en Google Ads, Facebook Ads y otros medios digitales.
          .main-services__item
            .main-services__box
              .main-services__title
                %p Business Intelligence
              .main-services__img
                %span.flaticon-think
            .main-services__description
              %p Inteligencia de negocios aplicada principalmente al marketing digital. Aumentando trazabilidad de los proyectos y detalle funner de conversión.
          .main-services__item
            .main-services__box
              .main-services__title
                %p Chat Bot
              .main-services__img
                %span.flaticon-bot
            .main-services__description
              %p Creación de asistentes inteligentes ya sea para atención al cliente u orientada a la conversión.
          .main-services__item
            .main-services__box
              .main-services__title
                %p Email Marketing
              .main-services__img
                %span.flaticon-mail
            .main-services__description
              %p Campañas masivas de emailing informativo, transaccional o con otros fines.
          .main-services__item
            .main-services__box
              .main-services__title
                %p Sitios Web
              .main-services__img
                %span.flaticon-browser
            .main-services__description
              %p Creación, optimización y mantenimiento de sitios web responsive, Landing Page, E-commerce.
          .main-services__item
            .main-services__box
              .main-services__title
                %p SMS Corporativo
              .main-services__img
                %span.flaticon-sms
            .main-services__description
              %p Envío masivo de SMS mediante una plataforma segura y eficiente.
          .main-services__item
            .main-services__box
              .main-services__title
                %p Diseño Gráfico
              .main-services__img
                %span.flaticon-pen
            .main-services__description
              %p Imagen corporativa, diseño editorial, comunicación visual.
        .main-services__img--box
          .main-services__img-float
            %img{ :src => "assets/img/Rectángulo 1 copia 7.png"}/
    %section.main-cta
      .container
        .main-cta__content
          .main-cta__item
            .main-cta__text
              %p Invierte en marketing de perdormance y potencia tus acciones
              .main-cta__btn
                %a.btn_custom.btn--large.btn--filled{ :href=>""}
                  Contáctanos
          .main-cta__item
            .main-cta__boximg
              .main-cta__img
                %img{ :src => "assets/img/ilustreicho.svg"}/
              .main-cta__img--two
                %img{ :src => "assets/img/Rectángulo 1 copia 7.png"}/
    %section.main-about
      .main-general__title.main-general__title--about
        %p Conócenos
      .main-about__content
        .main-about__item
          .main-about__box
            .main-about__title
              %p Misión
            .main-about__description
              %p  Satisfacer las necesidades de nuestros clientes de forma eficaz y eficiente ofreciendo soluciones progresivas de marketing y publicidad, que permitan mejorar la capacidad y producción logrando el crecimiento organizacional de todos nuestros clientes de manera que logren sus objetivos en el menor tiempo posible con la menor cantidad de recursos. 
        .main-about__item.main-about__item--right
          .main-about__box
            .main-about__title
              %p Visión
            .main-about__description
              %p  Asegurarnos como la empresa líder en la industria digital, conservando un nivel de demanda con procesos de mejora continua, apoyados en la originalidad, calidad y atención al cliente,  logrando los objetivos pautados de la mejor manera sin traspasar algún tipo de riesgo, asumiéndolos de la mano de nuestros usuarios para así potenciar cada proyecto tangible.
      .main-about__boximg
        .main-about__img 
          %img{ :src => "assets/img/Logo_white.png"}/ 
    %section.main-portfolio
      .container
        .main-general__title.main-general__title--projects
          %p Nuestros proyectos
        .main-portfolio__content
          %ul#pills-tab.nav.nav-pills.mb-3{:role => "tablist"}
            %li.nav-item
              %a#pills-home-tab.nav-link.active{"aria-controls" => "pills-home", "aria-selected" => "true", "data-toggle" => "pill", :href => "#pills-home", :role => "tab"} Social
            %li.nav-item
              %a#pills-profile-tab.nav-link{"aria-controls" => "pills-profile", "aria-selected" => "false", "data-toggle" => "pill", :href => "#pills-profile", :role => "tab"} Desarrollo web
            %li.nav-item
              %a#pills-contact-tab.nav-link{"aria-controls" => "pills-contact", "aria-selected" => "false", "data-toggle" => "pill", :href => "#pills-contact", :role => "tab"} Branding
          #pills-tabContent.tab-content
            #pills-home.tab-pane.fade.show.active{"aria-labelledby" => "pills-home-tab", :role => "tabpanel"}
              .container
                .main-portfolio__grid
                  .main-portfolio__item
                    .main-portfolio__img 
                      %img{ :src => "https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"}/ 
                  .main-portfolio__item
                    .main-portfolio__img 
                      %img{ :src => "https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"}/ 
                  .main-portfolio__item
                    .main-portfolio__img 
                      %img{ :src => "https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"}/ 
                  .main-portfolio__item
                    .main-portfolio__img 
                      %img{ :src => "https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"}/ 
                .main-cta__btn
                  %a.btn_custom.btn--large.btn--filled{ :href=>""}
                    Todos los proyectos
            #pills-profile.tab-pane.fade{"aria-labelledby" => "pills-profile-tab", :role => "tabpanel"} 
              .container
                .main-portfolio__grid
                  .main-portfolio__item
                    .main-portfolio__img 
                      %img{ :src => "https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"}/ 
                  .main-portfolio__item
                    .main-portfolio__img 
                      %img{ :src => "https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"}/ 
                  .main-portfolio__item
                    .main-portfolio__img 
                      %img{ :src => "https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"}/ 
                  .main-portfolio__item
                    .main-portfolio__img 
                      %img{ :src => "https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"}/
                .main-cta__btn
                  %a.btn_custom.btn--large.btn--filled{ :href=>""}
                    Todos los proyectos
            #pills-contact.tab-pane.fade{"aria-labelledby" => "pills-contact-tab", :role => "tabpanel"}
              .container
                .main-portfolio__grid
                  .main-portfolio__item
                    .main-portfolio__img 
                      %img{ :src => "https://images.unsplash.com/photo-1423666639041-f56000c27a9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"}/ 
                  .main-portfolio__item
                    .main-portfolio__img 
                      %img{ :src => "https://images.unsplash.com/photo-1423666639041-f56000c27a9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"}/ 
                  .main-portfolio__item
                    .main-portfolio__img 
                      %img{ :src => "https://images.unsplash.com/photo-1423666639041-f56000c27a9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"}/ 
                  .main-portfolio__item
                    .main-portfolio__img 
                      %img{ :src => "https://images.unsplash.com/photo-1423666639041-f56000c27a9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"}/
                .main-cta__btn
                  %a.btn_custom.btn--large.btn--filled{ :href=>""}
                    Todos los proyectos

    %section.main-equipo
      .main-general__title.main-general__title--team
        %p Nuestro Team
      .main__team
        .slider.slider-for__team
          .main-content__person
            .main-content__description
              .main-content__title
                %p ¡Hola soy Matias Tello!
              .main-content__subtitle
                %p Director Digital
                %p -Co fundador
                %p -Emprendedor
                %p -Ingeniero Comercial
              .main-content__redes
                %a{ href: '#' }
                  %i.fa.fa-facebook 
                %a{ href: '#' }
                  %i.fa.fa-twitter
                %a{ href: '#' }
                  %i.fa.fa-linkedin

            .main-content__img
              %img(src="assets/img/MATIAS-TELLO.png" alt="")/
          .main-content__person
            %h3 2
          .main-content__person
            %h3 3
          .main-content__person
            %h3 4
          .main-content__person
            %h3 5

        .slider.slider-nav__team
          %div
            %img(src="assets/img/MATIAS-TELLO.png" alt="")/
          %div
            %img(src="assets/img/YONNYS-QUINTERO.jpg" alt="")/
          %div
            %img(src="assets/img/GLADIBETH-FRANCO.jpg" alt="")/
          %div
            %img(src="assets/img/GENESIS-NAVAS.png" alt="")/
          %div
            %img(src="assets/img/YIVELY-ALVAREZ.jpg" alt="")/
          %div
            %img(src="assets/img/FRANCISCA-TELLO.jpeg" alt="")/
          %div
            %img(src="assets/img/IMG_20190905_080825-01.jpeg" alt="")/
          %div
            %img(src="assets/img/team-4.jpg" alt="")/

    %section.main-contact
      .container
        .main-general__title.main-general__title--contact
          %p Contáctanos
        .main-contact__content
          .main-contact__box
            %form
              .row
                .col
                  %input.form-control{:placeholder => "Nombre ", :type => "text"}/
                .col
                  %input.form-control{:placeholder => "Teléfono", :type => "phone"}/
              .row
                .col
                  %input.form-control{:placeholder => "Email", :type => "email"}/
                .col
                  %input.form-control{:placeholder => "Servicio", :type => "text"}/

              %textarea#comment.form-control{:placeholder => "Mensaje",:rows => "5"}
              .main-cta__btn
                %a.btn_custom.btn--large.btn--filled-blue{ :href=>""}
                  Enviar
    %footer.main-footer
       
      .container
        .main-general__title.main-general__title--footer
          %p Ubicanos
        .main-footer__box
          .main-footer__boximg
            .main-footer__img 
              %img{ :src => "assets/img/footer.png"}/
          .main-footer__content
            .main-footer__item
              .main-footer__info
                %ul
                  %li
                    %a{:href=>"mailto:mtello@contactmarketing.cl"} mtello@contactmarketing.cl
                  %li
                    %a{:href=>"tel:56933985125"} +569 3398 5125
                  %li
                    %a{:href=>"#"} Avenida apoquindo 6410, oficina 605, Las Condes
                  
            .main-footer__item
              .main-footer__redes
                %a{ href: 'https://www.facebook.com/Contact-Marketing-904814839714398'  }
                  %img{ :src => "assets/img/facebook-letter-logo.png" }/
                %a{ href: '#' }
                  %img{ :src => "assets/img/linkedin-logo.png"}/
                %a{ href: 'https://www.instagram.com/contactmarketing/' }
                  %img{ :src => "assets/img/instagram.png"}/
              .main-cta__btn.main-cta__btn--left
                %a.btn_custom.btn--large.btn--filled{ :href=>""}
                  Contáctanos
              
      .main-footer__copy
        %p
          %a{:href =>"http://cmarketing.cl/"}
            Contact Marketing | 
          Todos los derechos Reservados
    %script{src: "assets/js/jquery.min.js"}
    %script{src: "assets/js/bootstrap.min.js"}
    %script{src: "assets/js/slick.min.js"}
    %script{src: "assets/js/setting-slick.js"}
    %script{src: "assets/js/main.js"}
